@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --blue: #278bbe;
  --grey: #a9a2a5;
  --yellow: #f0b429;
  --white: #f6f8fa;
  --black: #000000;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 20;
}
